.personal-information {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.personal-information input {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: 1px solid var(--color-neutral-200);
  border-radius: 0.4rem;
  border: none;
  margin-top: -1.5rem;
  color: var(--color-marine-blue);
  font-weight: var(--font-weight-medium-500);
}

.personal-information input::placeholder {
  font-weight: var(--font-weight-medium-500);
  color: var(--color-neutral-300);
  font-size: var(--font-size-base);
}

.personal-information label {
  font-size: var(--font-size-medium);
}

.personal-information input:focus {
  outline-color: var(--color-purplish-blue);
  cursor: pointer;
}

.personal-information__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
}

.error-empty-field {
  color: red;
  font-weight: var(--font-weight-bold-700);
  font-size: var(--font-size-base);
}
